<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Facebook Automation Suite" parallel="tests" thread-count="2">
    
    <parameter name="browser" value="chrome"/>
    
    <test name="Chrome Browser Tests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="org.test.selenium.FacebookjPageTest">
                <methods>
                    <include name="testValidLogin"/>
                    <include name="testInvalidPasswordLogin"/>
                    <include name="testInvalidUsernameLogin"/>
                    <include name="testEmptyFieldsLogin"/>
                    <include name="testAccountCreation"/>
                    <include name="testSearchFunctionality"/>
                </methods>
            </class>
        </classes>
    </test>
    
    <test name="Firefox Browser Tests">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="org.test.selenium.FacebookjPageTest">
                <methods>
                    <include name="testValidLogin"/>
                    <include name="testInvalidPasswordLogin"/>
                </methods>
            </class>
        </classes>
    </test>
    
    <listeners>
        <listener class-name="org.main.selenium.reporting.ReportManager"/>
    </listeners>
    
</suite>